body{
    margin: 0;
    padding: 0;
    background-color:rgb(255, 255, 80);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-width: 40vw;
    max-width: 40vh;
}

.logo{
    border: 1px solid;
    min-width: 30vw;
    min-height: 40vh;
    margin-top: 5vh;
    margin-bottom: 2vh;
    border: 3px solid #555;
    background-color: white;
}
li{
     list-style-type: none;
}
a{
    color:black;
    font-weight: bold;
    background-color: yellowgreen;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
}
p{
    font-family: "Courier New", Courier, monospace; 
    font-size: 20px;
}
button {
    font-size: 12px;
    padding: 10px 24px;
    margin:5px;
    background-color:yellowgreen;
    border: 3px solid #555;
    font-family: "Courier New", Courier, monospace; 
    
}
button:hover{
    box-shadow: 0 8px 16px 0 darkgray;
}
input{
    padding: 10px 24px;
    border: 3px solid #555;
}
